#title{
    color: black;
}

.filmTape {
    background-image: url('../img/movietape.jpg');
    background-size: cover;
    width: 100%;
    height: 250px;
    background-position: center;
    text-align: center;
    margin: 0 auto;
}

#totalWins{
    color: rgb(56, 189, 56);
    font-size: 18px;
    font-family: 'Geneva';
    font-style: italic;
    font-weight: lighter;
}

#totalLosses {
    color: rgb(205, 15, 15);
    font-size: 18px;
    font-family: 'Geneva';
    font-style: italic;
    font-weight: lighter;
}

hr{
    color:  rgb(99, 212, 237);
    height: 5px;
    border-radius: 5px;
    margin: 30px auto;
}